/* (구글)웹 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 리셋css에서 a 태그 리셋이 덜 되었음 */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
    color: #000;
}

/* common 일반사항 */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    /* 사파리같은 브라우저에서 body 태그를 나타내지 않는 버그?가있어서
    바디 안에 태그를 하나 만들어서 바디 대신 설정하는 추세. */
    font: 14px "Noto Sans KR", sans-serif;
}

.en {
    font-family: "EXO 2", sans-serif;
}

/* 모바일이 아니면 줄개행을 안함 */

br.mo {
    display: none;
}
/* 모바일환경이 아니면 햄버거 버튼 숨기기 */
header .inner-header .gnb-mobile {
    display: none;
}

/* header스타일 */
header {
    width: 100%;
    /* fositionfix주면 깨져서 미리 주는거다. */
    height: 100px;
    line-height: 100px;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1000;
    /* 포지션이 들어가면 z축이 튀어나옴 + 나중에도 포지션을 사용하게 되니 점수를 미리 높게 */
}

header .inner-header {
    width: 84%;
    margin: 0 auto;
}

header .inner-header h1.logo {
    float: left;
    width: 200px;
    height: auto;
    /* 로고이미지 줄이기 위한 가로너비 */
}

header .inner-header h1.logo img {
    /* 이미지 비율 깨지지 않고 줄이는 꿀팁
                 이미지를 편집헤서 넣는게 베서트지만 안될땐 이거사용
                 이미지박스 부모태그에 가로만 원하는 사이즈즈 세로auto로 지정
                  -> 박스 안에 이미지를 가로 100% */
    width: 100%;
}

header .inner-header nav.gnb {
    float: left;
    margin-left: 80px;
}

header .inner-header nav.gnb li {
    float: left;
    margin-right: 80px;
    /* 직속부모가 아니라 조상에 클리어픽스 있으면 따로 설정 안해도 된다.
              -> header에 있어서 ㄱㅊ */
}

header .inner-header nav.gnb li a {
    /* 텍스트 수정은 항상 인라인으로 */
    color: #fff;
    font-size: 16px;
    display: block;
    /* 클릭하기 편하게 영역을 넓히기 위하여 */
}

header .inner-header nav.gnb li a:hover {
    color: #ff8342;
}

header .inner-header nav.tnb {
    float: right;

}

header .inner-header nav.tnb li {
    float: left;
    margin-right: 25px;
}

header .inner-header nav.tnb li a {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

header .inner-header nav.tnb li:last-child a {
    /* ??? */

    display: block;
    width: 105px;
    border: 1px solid #fff;
    border-radius: 30px;
    line-height: 2;
    margin-top: 33px;
}

header .inner-header nav.tnb li:last-child a:hover {
    color: #ff8342;
    background: #fff;
}

header .inner-header nav.tnb li:first-child a i,
header .inner-header nav.tnb li:nth-child(2) a i {
    /* 코드 보면 아이콘이 i태그로 되어있다. */
    margin-right: 8px;
    font-size: 20px;
}

header .inner-header nav.tnb li:last-child a i {
    margin-left: 5px;
}


/* section main style */
section.main {
    background: url('../img/vis_4.jpg') no-repeat center/cover fixed;
    /* height: auto;라서 컨텐츠 있는 만큼만 세로가 있다. vh로 세로 화면 가득 채우기 */
    height: 100vh;
}

section.main .main-title {
    /* 박스를 화면 정중앙에 배치공식. 외우기! */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    animation: uprising 1s;
}

@keyframes uprising {
    0% {
        top: 60%;
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}

section.main .main-title h2 {
    font-size: 55px;
    margin-bottom: 20px;
}

section.main .main-title p {
    font-size: 25px;
    margin-bottom: 25px;
}

section.main .main-title .view {
    display: block;
    /* main에서 텍스트 가운데정렬했지만 박스가 되면서 정렬이 풀림 */
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 30px;
    width: 180px;
    margin: 0 auto;
    padding: 8px 0;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

section.main .main-title .view::after {
    content: '';
    width: 0%;
    /* maintitle 가로의 100%로 viewmore랑 크기가 안맞는다.
        -> view에 position을 주어 기준점을 만들어준다..*/
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}

section.main .main-title .view:hover::after {
    width: 100%;
}

/* section about 스타일 */
section {
    background: #fff;
    /* 웹브라우저배경이 흰색이여서 흰색같은거지 transper?아무튼 아님 */
    padding: 80px 0;
}

section .title {
    color: #000;
    text-align: center;

}

section .title h2 {
    font-size: 45px;
    margin-bottom: 5px;
}

section .title p {
    font-size: 18px;
    color: #555;
}

section.about ul {
    width: 74%;
    margin: 30px auto;
    border-bottom: 1px solid #ddd;
}

section.about ul li {
    float: left;
    width: 33.33333%;
}

section.about ul li a .img-box {
    /* height: 300px; ->높이 고정하면 사진넘치는 버그 해결*/
    overflow: hidden;
}

section.about ul li a .img-box img {
    width: 100%;
    /* height: 100%; ->높이 고정하면 사진넘치는 버그 해결 */
    transition: 0.7s;
}

section.about ul li a:hover .img-box img {
    transform: scale(1.2);
}

section.about ul li a .text {
    padding: 25px;
}

section.about ul li a .text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

section.about ul li a .text p {
    font-size: 16px;
    margin-bottom: 10px;
}

section.about ul li a .text p.more {
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 40px;
    position: relative;

    /* 일괄대문자만들기 lowercase는 소문자 */
}

section.about ul li a .text p.more::before {
    content: '\f30b';
    font-family: 'Font awesome 5 Free';
    /* 폰트어썸 아이콘 유니코드 사용하게하는 코드들 */
    font-size: 15px;
    line-height: 30px;

    width: 30px;
    height: 30px;
    background: #ff8342;
    border-radius: 50%;
    /* display: block; */
    /* position이나 float 속성은 자동으로 인라인속성들이 블록으로 바뀜 */
    position: absolute;
    left: 0;
    top: -2px;
}


/* section innovation 스타일 */
section.innovation {
    background: #fff;
    margin-bottom: 150px;
}

section.innovation .img-box {
    width: 74%;
    height: 540px;
    background: url('../img/product_1.jpg') no-repeat center/cover;
    margin: 50px auto 0;
    position: relative;
    /* 포지션이 있으면 z인덱스 늦게작성순으로 점수가 높아져서 메뉴바를 뚫고 나온다. */
}

section.innovation .img-box .inner {
    /* ??? 왜 세로가 안나오지? */
    background: #515151;
    width: 80%;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translate(-50%, 0%);
    /* 좌측 중앙정렬 ㅇ 세로 중앙정렬x */
}

section.innovation .img-box .inner h3 {
    background: #fff;
    font-size: 18px;
    padding: 25px 40px;
    box-sizing: border-box;
}

section.innovation .img-box .inner .bottom {
    color: #fff;
    line-height: 1.6;
    padding: 35px 85px;
    box-sizing: border-box;
}

section.innovation .img-box .inner .bottom p {
    float: left;

    width: 70%;
}

section.innovation .img-box .inner .bottom a {
    float: right;
    background: #ff8342;
    border-radius: 50px;
    padding: 7px 30px;
}

section.innovation .img-box .inner .bottom a:hover {
    background: #f86010;
}


/* section me */
section.me {
    background: url('../img/me.jpg') no-repeat center/cover;
    height: 100vh;
    margin-bottom: 150px;
    /* 다음 요소들과의 간격 미리 대비 */
    padding: 80px 0;
    /* 텍스트 여백 설정 */
}

section.me ul.list {
    width: 74%;
    margin: 50px auto 50px;
    border-top: 2px solid #515151;
    border-bottom: 2px solid #515151;
}

section.me ul.list>li {
    padding: 30px 60px;
    /*자식선택자 아니면 패딩이 두 번 들어간다. */
}

section.me ul.list>li:first-child {
    border-bottom: 1px solid #ddd;
}

section.me .list>li h3 {
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
    /* i태그 기준점 */
}

section.me .list>li h3 span {
    color: #ff8342;
    position: absolute;
    left: -35px;
    /* i 태그는 포지션으로 밖으로 나가게 해야 한다 */
}

section.me .list>li p {
    line-height: 1.6;
    margin-bottom: 20px;
}

section.me .list>li a.more {
    font-size: 16px;
    font-weight: 700;
}

section.me .list>li a.more span {
    color: #ff8342;
    margin-left: 3px;
    font-size: 14px;
}

section.me ul.in {
    margin-bottom: 30px;
}

section.me ul.in li em {
    float: left;
    width: 13%;
}

section.me ul.in li p {
    float: left;
    width: 87%;
    /* margin-left: 30px; 같은경우는 줄이 울퉁불퉁하니까 width를 줘서 박스너비를 100%비율로 고정적으로 맞춰두면
            출발점이 동일해서 균일하다. */
    position: relative;
}

section.me ul.in li p::before {
/* ?? -> p에 포지션 안줘서 안뜸 */
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background: #ff8342;
    position: absolute;
    left: -40px;
    top: 10px;
}

#incruit-btn {
    /* id는 굳이 구구절절 안해도 된다. */
    display: block;
    width: 280px;
    background: #ff8342;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    /* 마우스 대면 손모양 나오는거 */
}



/* section.sns */
section .sns {
    margin-bottom: 60px;
}
section.sns ul {
    width: 74%;
    margin: 50px auto;
    /* background: red; */
}
section.sns ul li {
    float: left;
    width: 32%;
    margin-right: 2%;
}
section.sns ul li:last-child {
    margin-right: 0;
    /* 정확하게 사이 두 곳에만 마진을 주고 마지막 오른쪽은 마진 안주는 방법 */
}
section.sns ul li a {
    display: block;
}
section.sns ul li a .img-box {
    /* width: 100%; 높이 조정하면 너비는 자동으로 맞춰진다. */
    height: 251px;
    overflow: hidden;
    /* 박스넘치면 숨기는 기능 */
    position: relative;
}
section.sns ul li .img-box img {
    width: 100%;
}
/* 이미지박스 사이즈 조정 후 img파일태그 자체 너비를 100으로 맞추면 이미지 박스 너비에 맞춰서 100이 된다. */

/* section.sns ul li .img-box::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #ff8342;
    position: absolute;
    left: 0; top: 0;
}     */
section.sns ul li .img-box::before {
    content: '';
    width: 0%;
    height: 100%;
    background: #ff8342;
    opacity: 80%;
    position: absolute;
    left: 0; top: 0;
    transition: 0.5s;
}    
section.sns ul li a:hover .img-box::before {
    width: 100%;
    position: absolute;
    /* 이미지박스에 걸면 사진을 만져야만 애니메이션이 올라가지만
    텍스트 설명칸에서도 애니메이션 작동을 시키려면 a 태그에 걸기 */
}
section.sns ul li .img-box::after {
    content: 'BLOG';
    border: 1px solid #fff;
    font: 15px "Exo 2", sans-serif;
    border-radius: 40px;
    color: #fff;
    padding: 5px 30px;
    position: absolute; /* 다른 요소들이 포지션때문에 앞으로 튀어나왔는데 이건 포지션이 없어서 뒤로 가려졌다 */
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    transition: 0.7s;
}
section.sns ul li a:hover .img-box::after {
    opacity: 1;
}
/* text */
section.sns ul li .bottom {
    padding: 20px 0 20px 30px;
    box-sizing: border-box;
}
section.sns ul li .bottom p {
    margin-bottom: 10px;
    font-size: 18px; font-weight: 700;
}
section.sns ul li .bottom p.color {
    color: #ff8342;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
section.sns ul li a .bottom p.time {
    color: #818181;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    padding-left: 20px;
}
section.sns ul li a .bottom p.time::before {
    content: '\f017';
    font-family: 'Font Awesome 5 Free';
    font-size: 15px;
    position: absolute;
    left: 0;top: 3px;
    /* 폰트어썸 아이콘은 비포애프터일때 코드숫자 써야한다. */
}
section.sns ul li .bottom p:nth-child(2) {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
}


/* footer */
footer {
    border-top: 1.5px solid #999;
    padding: 30px 0;
    /* background: red;    */
}
footer .inner {
    width: 84%;
    margin: 0 auto;
    /* background: blue; */
}
footer .inner h2.ft-logo {
    float: left;
    width: 14%;
}
footer .inner h2.ft-logo img {
    width: 100%;
}
footer .inner .address {
    float: left;
    margin-left: 100px;
    margin-top: 24px;
}
footer .inner .address li:first-child {
    font-weight: 700;
    margin-bottom: 10px;
}
footer .inner .address li:last-child {
    color:#999
}
footer .inner .list {
    float: right;
    margin-top: 30px;
}
footer .inner .list li {
    float: left;
    margin-left: 80px;
}
footer .inner .list li a:hover {
    color: #ff8342;
    text-decoration: underline;
}
footer .inner .list li:last-child {
    font-weight: 700;
    /* 상속되는 태그이다. -> li a:hover에 따로 쓰지 않아도 같이 두꺼워짐 */
}

/* 반응형 작업 */
/* 노트북 해상도 1599px */
/* F12에서 해상도 조정해서 수정해나가면 된다. */
@media screen and (max-width: 1599px) {
    /* 스크린사이즈가 1599까지는 이렇게 보이게 하겠다는 뜻 */
    /* css뭉개지는 부분만 여기서 수정하는 용도.
       FULL에서는  innerheader사이즈가  */
    header .inner-header {
        width: 95%;
    }
    header .inner-header nav.gnb {
        margin-left: 50px;
    }
    header .inner-header nav.gnb li {
        margin-right: 40px;
    }
    header .inner-header nav.tnb li {
        margin-right: 10px;
    }
    section.about ul,
    section.innovation .img-box,
    section.me ul.list
    section.sns ul {
        width: 95%;
        
    }
    section.sns ul li a .img-box {
        height: 200px;
        /* 깨지는건 하나씩 수정해줘야한다.. */
    }
    footer .inner {
        widows: 95%;
    }
    footer .inner .list li {
        margin-left: 20px;
    }
}

/* 태블릿 1024px 해상도(아이패드 프로) */
/* 1024px 밑으로는 이 해상도에서 작동한다. */
@media screen and (max-width: 1024px) {
    header .inner-header nav.gnb,
    header .inner-header nav.tnb {
        display: none;
    }

    header .inner-header .gnb-mobile {
        float: left;
        font-size: 40px;
        color: #fff;
        display: block;
        /* 햄버거버튼 태블릿모드에서만 나오게 했다 css상단에 설정 있고 nav구간에 html태그있다 */
    }
    section.main .main-title {
        width: 80%;
    }
    section.me ul.in li {
        margin-bottom: 0;
    }
    section.me ul.in li p {
        margin-bottom: 10px;
    }
    section.me ul.in li p::before {
        left: -5px;
    }
    section.sns ul li a .img-box {
        height: 160px;
        /* ???? */
    }
    section.sns ul li a .bottom {
        padding-left: 5px;
    }
    footer .inner .list {
        display: none;
    }
    footer .inner .ft-logo {
        margin-top: 15px;
    }
    /* 나머지는 알아서 수정하고 사실 이거도 오류 짱많다 지금 ㅋㅋ 수정할거 천지 */

    /* 태블릿 768px 해상도 (아이패드) */
@media screen and (max-width: 768px) {

    
    section.main .main-title h2 {
        font-size: 40px;
    }

    section.main .main-title p {
        font-size: 20px;
    }

    section.about {
        padding: 50px 0;
    }

    section.about ul li {
        float: none;
        width: 100%;
        /* 화면이 작아 플로트 할 필요가 없으니 너비 100으로 바꿔줌 */
    }

    section.about ul li a .img-box {
        height: 400px;
    }

    section.innovation .img-box .inner .bottom {
        padding: 30px;
    }
    section.innovation .img-box .inner .bottom p {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
    section.innovation .img-box .inner .bottom a {
        float: none;
        display: block;
        width: 100px;
        text-align: center;
        margin: 0 auto;
    }

    section.me {
        padding: 50px 0;
    }

    section.me ul.in li em {
        float: none;
        width: 100%;
        font-size: 17px;
        margin-bottom: 5px;
    }

    section.sns ul li {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    section.sns ul li a .img-box {
        height: 380px;
    }

    section.sns ul li a .bottom p.time {
        margin-top: 10px;
    }

    footer .inner .ft-logo {
        float: none;
        width: 30%;
        margin: 0 auto;
    }
    footer .inner .address {
        float: none;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}

/* 모바일 414px 해상도 (아이폰 678 plus) */
@media screen and (max-width: 414px) {

    header {
        height: 60px;
        line-height: 60px;
    }
    header .inner-header .logo {
        width: 150px;
        position: absolute;
        top: -7px;
    }

    section.main .main-title h2 {
        font-size: 30px;
    }
    section.main .main-title p {
        font-size: 16px;
    }

    section.main .main-title .view {
        width: 150px;
        font-size: 14px;
    }

    section .title h2 {
        font-size: 25px;
    }
    section .title p {
        font-size: 14px;
    }

    section.about {
        padding: 30px 0;
    }

    section.about ul li {
        border: 1px solid #ddd;
        box-sizing: border-box;
        background: #fafafa;
        margin-bottom: 10px;
    }
    /* 카드 컨텐츠st로 바꿈 */

    section.about ul li a .img-box {
        height: 300px;
    }

    section.innovation .img-box {
        height: 400px;
    }

    section.me ul.list > li {
        padding: 20px 20px 20px 45px;
    }
    section.me ul.list > li p {
        text-align: justify;
    }

    section.sns ul li a .img-box {
        height: 200px;
    }

    footer {
        padding: 20px 0;
    }
}

/* 모바일 320px 해상도 (아이폰5 / SE) */
@media screen and (max-width: 320px) {

    br.mo {
        display: block;
    }
/* 모바일용 태그 살려서 사용했다! */
    .wrap {
        min-width: 320px;
    }
/* 최소 320px이라는 사이즈를 설정했다. */
    header .inner-header .logo {
        width: 140px;
        height: auto;
    }

    header .inner-header .gnb-mobile {
        font-size: 32px;
        margin-right: 15px;
        position: absolute;
        right: 0;
        bottom: 2px;
    }
    section.me {
        margin-bottom: 0;
        height: 800px;
    }
    section.main .main-title h2 {
        font-size: 22px;
    }

    section.main .main-title p {
        font-size: 14px;
    }
    section.me ul.list {
        width: 100%;
        padding: 0 10px 10px 0;
    }
    section.about ul li a .img-box {
        height: 200px;
    }

    section.about ul li a .text {
        padding: 15px;
    }

    section.about ul li a .text h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    section.about ul li a .text p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    section.innovation .img-box {
        height: 300px;
    }

    section.sns ul li a .img-box {
        height: 170px;
    }

    section.sns ul li a .bottom {
        padding: 20px 10px;
    }
}
}